<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>正向查询（通过wife查找author）</h1>
  <h2>Wife 信息：</h2>
  <h3>姓名：{{ wife.name }}</h3>
  <h3>年龄：{{ wife.age }}</h3>
  <h2>Author 信息：</h2>
  <h3>姓名：{{ author.name }}</h3>
  <h3>年龄：{{ author.age }}</h3>
  <h3>email：{{ author.email }}</h3>
<h1>======================================================================================================</h1>
  <h1>反向查询（通过author查找wife）</h1>
  <h2>Author 信息：</h2>
  <h3>姓名：{{ author.name }}</h3>
  <h3>年龄：{{ author.age }}</h3>
  <h3>email：{{ author.email }}</h3>
  <h2>Wife 信息：</h2>
  <h3>姓名：{{ wife.name }}</h3>
  <h3>年龄：{{ wife.age }}</h3>
</body>
</html>