<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>正向查询（通过book查找publisher）</h1>
  <h2>Book 信息：</h2>
  <h3>书籍名称：{{ book.title }}</h3>
  <h3>出版日期：{{ book.publicate_date }}</h3>
  <h2>Publisher 信息：</h2>
  <h3>出版社名称：{{ publisher.name }}</h3>
  <h3>地址：{{ publisher.address }}</h3>
  <h3>城市：{{ publisher.city }}</h3>
  <h3>
    网址：<a href="{{ publisher.website }}">{{ publisher.website }}</a>
  </h3>
<h1>======================================================================================================</h1>
  <h1>反向查询（通过publisher查找book）</h1>
  <h2>Publisher 信息：</h2>
  <h3>出版社名称：{{ publisher.name }}</h3>
  <h3>地址：{{ publisher.address }}</h3>
  <h3>城市：{{ publisher.city }}</h3>
  <h3>
    网址：<a href="{{ publisher.website }}">{{ publisher.website }}</a>
  </h3>
  <h2>Book 信息：</h2>
    {% for book in books %}
      <h3>书籍名称：{{ book.title }}</h3>
      <h3>出版日期：{{ book.publicate_date }}</h3>
    {% endfor%}
</body>
</html>