<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <form action="/HTTPReauestApp/get_views/" method="get">-->
<!--        <p>-->
<!--            用户名称：-->
<!--            <input type="text" name="uname">-->
<!--        </p>-->
<!--        <p>-->
<!--            用户密码：-->
<!--            <input type="text" name="upwd">-->
<!--        </p>-->
<!--        <p>-->
<!--            <input type="submit" value="提交">-->
<!--        </p>-->
<!--    </form>-->
    <form action="/HTTPReauestApp/post_views/" method="post">
        {% csrf_token %}
        <p>
            用户名称：
            <input type="text" name="uname">
        </p>
        <p>
            用户密码：
            <input type="text" name="upwd">
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>